---
metaclient:
  host: "{{ duffy_metaclient_host }}"
  port: {{ duffy_metaclient_port }}
  dest: "{{ duffy_metaclient_dest }}"
  usermap:{{ duffy_metaclient_usermap }}
  poolmap:{{ duffy_metaclient_poolmap }} 
{% raw %}
  mangle_hostname: "{{ hostname | replace('.ci.centos.org', '') }}"
{% endraw %}
