# Set additional command line parameters for Duffy services
DUFFY_OPTS=
DUFFY_APP_OPTS=--loglevel={{ duffy_app_loglevel }}
DUFFY_METACLIENT_OPTS=--loglevel={{ duffy_metaclient_loglevel }}
DUFFY_TASKS_OPTS=--loglevel={{ duffy_tasks_loglevel }} --concurrency={{ duffy_tasks_concurrency }}
