[Unit]
After=network.target
Requires=duffy-app.service

[Service]
User=duffy
Group=duffy
EnvironmentFile=-/etc/sysconfig/duffy
ExecStart={{ duffy_venv }}/bin/duffy $DUFFY_GLOBAL_OPTS $DUFFY_METACLIENT_GLOBAL_OPTS serve-legacy $DUFFY_METACLIENT_OPTS

[Install]
WantedBy=default.target
